@link-color: #4682b4;
@header-bgcolor: #fff;

@light-blue: rgb(220, 235, 245);
@dark-blue: rgb(170, 200, 230);

@orange: #ffd040;
@lgray: #eee;
@dgray: #333;

@border-color: #ddd;
@border-width: 3px;

@button-color: #eee;
@button-color-hover: #f7f7f7;
@button-color-selected: #ddd;

@debug-border: 0px;

@button-group-pad: 5px;

.main-font {
  font-family: "Roboto", sans-serif; 
}
.header-font {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
.monospace {
  font-family: "Roboto Mono", monospace;
}

html { .main-font; }

body { 
  padding-top: 0px;
  .main-font;
}

div { border: @debug-border solid #f66; }
svg { border: @debug-border solid #66f; }

a         { color: @link-color; text-decoration: none; }
a:hover   { color: @link-color - #333; text-decoration: none; }
a:visited { color: @link-color; text-decoration: none; }

.zero-pad-left {padding-left: 0px;}

.table { margin-bottom: 0px; }
.axis { shape-rendering: crispEdges; }

path { shape-rendering: auto; }
rect { shape-rendering: crispEdges; }

#main-container {
  padding-left: 30px;
  max-width: 800px;
}

#plot-container {
  padding-left: 0px;
}


#controls-container {
  margin-top: -20px;
  padding-bottom: 50px;
}

.text-header {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}

.header { 
  .text-header;
  border-bottom: 1px solid @dgray; 
  padding-top: 15px;  
}

.text {
  font-size: 11px; 
  line-height: 1.3;
}


.button-group {
  padding-top: @button-group-pad;
  padding-bottom: @button-group-pad;
}

.plot-button {
  width: auto;
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
  border-bottom: 1px solid #333;
  padding-left: 2px; 
  padding-right: 2px;

  &:hover { background-color: @light-blue; }
  &:active { color: #999; }
}

.plot-button-label {
  width: 20%;
  display: inline-block;
  margin-right: 10px;
  font-weight: bold;
}

.plot-button-active {
  font-weight: bold;
  background-color: @dark-blue;
  border-bottom: 0px;
}

.hint {
  display: inline-block;
  padding-right: 15px;
}

input[type=range].parameter-slider {
  width: 40%;
  display: inline-block;
  padding-right: 10px;
  padding-bottom: 3px;
}

input[type=text].parameter-textbox {
  width: 50px;
  display: inline-block;
}

.slider-container {
  padding-top: @button-group-pad;
  padding-bottom: @button-group-pad;
}

.slider-label {
  display: inline-block;
  width: 130px;
  padding-right: 10px;
}

#model-path {
  fill: none;
  stroke: #666;
  stroke-width: 1px;
}

.feature-type {
  display: inline-block;
  padding-bottom: @button-group-pad;
  padding-top: @button-group-pad;
}

.feature {
  padding: 1px;
  display: inline-block;
}

.tile {
  opacity: .5;
}